/* used variables for different colors */
:root {
    --dark-green-color: #445962;
    --light-green-color: #329C92;
    --light-grey-color: rgb(212, 212, 212);
    --dark-grey-color: #424244;
}

/* for viewport */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* to display vertically */
.main-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}

/* to give font for all writing part */
h1, h2, h3, h4, h5, h6, p, button span{
    font-family: LKSana-Bold, Arial, Helvetica, sans-serif;
}

/* header section styling */
.header {
    height: 155px;
    background-color: lightgrey;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* styling the horizontal line */
.divider {
    border: none;
    background-color:var(--light-grey-color);
    height: 1px;
    width: 80%;
    margin: 0 auto;
    display: block;
}

/* to fit the ad picture correct to viewport */
.picture_section {
    width: 100%;
    max-height: 20vh;
    overflow: hidden;
    text-align: center;
}

.picture_section img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

/* to give styling for every container */
.sub_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* to hightlight the heading in every container */
.matter_container h2 {
    text-align: center;
    letter-spacing: 2px;
    padding: 2rem 4rem 0;
    font-size: 26px;
}

/* first half of heading */
.first_half {
    color: var(--dark-green-color);
}

/* second half of heading */
.second_half {
    color: var(--light-green-color);
    font-weight: 400;
}

/* for sunglasses items container */
.offer_container_sunglasses_list {
    padding: 3rem  0;
    width: 85%;
    display: flex;
    align-items: center;
}

.offer_container_sunglasses_list img {
    
    width: 30%;
    height: 20%;
    /* object-fit: contain; */
    cursor: pointer;
    padding: 0 30px;
    transition: transform 1s;
    
}

.offer_container_sunglasses_list img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}


.first_display {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.second_display {
    display: none;
    justify-content: center;
    width: 100%;
    align-items: center;
}

/* styling the buttons */
.offer_container_button{
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 0 20px;
    
}

.first_button, .second_button {
    font-weight: 700;
    font-size:medium;
    cursor: pointer;
}


.first_button {
   padding: 0.6rem 2rem;
   background-color: var(--light-green-color);
   color: white;

   border: 1px solid var(--light-green-color);
   font-family: Arial, Helvetica, sans-serif;
}

.second_button {
    padding: 0.5rem 2rem;
    background-color: white;
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    font-family: Arial, Helvetica, sans-serif;
}


/* sub headings in container */
.paragraph1 {
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0;
    font-size: 15px
}

.paragraph2 {
    text-align: center;
    letter-spacing: 2px;
}

.paragraph2_firsthalf {
    font-weight:bolder;
    color: var(--dark-grey-color);
}

.paragraph2_secondhalf {
    font-weight: bolder;
    color: var(--light-green-color);
}

/* footer section styling */
.footer{
    height: 500px;
    background-color:lightgrey;
}

/* Media query for screens below 500px */
@media screen and (min-width: 401px) and (max-width: 500px) {

    .first_half, .second_half{
        font-size: 20px; 
    }

    .picture_section {
        width: 100%;
        max-height: none;
    }

    .matter_container h2 {
        padding: 1rem 2rem 0;
    }

    .first_button, .second_button {
        font-size: small; 
        padding: 0.4rem 1rem; 
    }

    
    .paragraph1 {
        display: flex;
        align-items: center;
        font-size: 12px; 
    }

    .paragraph2 {
        font-size: 12px; 
    }

    .paragraph2_firsthalf, .paragraph2_secondhalf {
        display: block;
        display: flex;
        justify-content: center;
    }

    .icon {
        font-size: 0.5rem;
    }

}

/* Media query for screens below 400px */
@media screen and (min-width: 351px) and (max-width: 400px) {
   
    .first_half, .second_half{
        font-size: 18px; 
    }

    
    .matter_container h2 {
        padding: 0.5rem 1rem 0; 
    }

    .offer_container_sunglasses_list  {
        padding: 1rem 0;
    }

    .first_button, .second_button {
        font-size: x-small; 
        padding: 0.3rem 0.8rem; 
    }

    
    .paragraph1 {
        font-size: 10px;
    }

    .paragraph2 {
        font-size: 10px;
    }

    .paragraph2_firsthalf, .paragraph2_secondhalf {
        display: block;
        display: flex;
        justify-content: center;
    }
}

/* Media query for screens below 350px */
@media screen and (max-width: 350px) {
    
    
    .first_half, .second_half{
        font-size: 16px; 
    }

    
    .matter_container h2 {
        padding: 0.5rem 0.8rem 0; 
    }

    
    .offer_container_sunglasses_list  {
        padding: 0.2rem 0;
    }

    
    .first_button, .second_button {
        font-size: xx-small; 
        padding: 0.2rem 0.6rem; 
    }

   
    .paragraph1 {
        font-size: 8px; 
    }

    .paragraph2 {
        font-size: 8px; 
    }

    .paragraph2_firsthalf, .paragraph2_secondhalf {
        display: block;
        display: flex;
        justify-content: center;
    }
}
