:root {
    --dark-green-color: #445962;
    --light-green-color: #329C92;
    --light-grey-color: rgb(212, 212, 212);
    --dark-grey-color: #424244;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button span{
    font-family: LKSana-Bold, Arial, Helvetica, sans-serif;
}

.divider {
    border: none;
    background-color:var(--light-grey-color);
    height: 1px;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.picture_section {
    width: 100%;
    max-height: 20vh;
    overflow: hidden;
    text-align: center;
}

.picture_section img {
    width: 100%;
    height: auto;
    max-height: 100%;
    /* object-fit: contain; */
}

.matter_container h2 {
    text-align: center;
    letter-spacing: 2px;
    padding: 2rem 4rem 0;
    font-size: 26px;
}

.first_half {
    color: var(--dark-green-color);
}

.second_half {
    color: var(--light-green-color);
    font-weight: 400;
}

.offer_container_sunglasses_list {
    padding: 0  30px;
    width: 100%;
    min-height: 15rem;
}

.offer_container_sunglasses_list img {
    
    width: 30%;
    height: 20%;
    /* object-fit: contain; */
    cursor: pointer;
    padding: 0 30px;
    
}





.first_display {
    display: flex;
    /* gap: 5rem; */
    justify-content: center;
    width: 100%;
    align-items: center;
}

.second_display {
    display: none;
    /* gap: 5rem; */
    justify-content: center;
    align-items: center;
}

.sub_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer_container_button{
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 0 20px;
    
}

.first_button, .second_button {
    font-weight: 700;
    font-size:medium;
    cursor: pointer;
}


.first_button {
   padding: 0.6rem 2rem;
   background-color: var(--light-green-color);
   color: white;

   border: 1px solid var(--light-green-color);
   font-family: Arial, Helvetica, sans-serif;
}

.second_button {
    padding: 0.5rem 2rem;
    background-color: white;
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    font-family: Arial, Helvetica, sans-serif;
}



.paragraph1 {
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0;
    font-size: 15px
}

.paragraph2 {
    text-align: center;
    letter-spacing: 2px;
}

.paragraph2_firsthalf {
    font-weight:bolder;
    color: var(--dark-grey-color);
}

.paragraph2_secondhalf {
    font-weight: bolder;
    color: var(--light-green-color);
}

.previous_icon {
    border: 2px border blue;
}



.offer_container_sunglasses_list img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    cursor:pointer;
    transition: transform 1s; /* Add a transition for smooth effect */
}

.offer_container_sunglasses_list img:hover {
    transform: scale(1.2); /* Scale up the image on hover */
}

.footer {
    background-color: rgb(0, 0, 66);
}

.footer .footer-top-text {
    color: #fff;
    padding: 2rem 3rem 0;
}
  
.footer .footer-top-text h6 {
    font-size: 2.3rem;
    font-weight: 200;
    line-height: 4rem;
    letter-spacing: 0.07rem;
    color: rgb(244, 244, 244);
}
  
.footer .footer-top-text p {
    letter-spacing: 0.04rem;
    color: rgb(252, 252, 252);
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1rem 0 0.2rem;
}
  
.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 2rem;
    color: #fff;
}
  
.footer-links .footer-left-link {
    display: flex;
    width: 40%;
    gap: 90px;
}
  
.footer-links .footer-left-link p {
    line-height: 1rem;
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}
  
.footer-links .footer-left-link ul li {
    list-style-type: none;
    line-height: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    letter-spacing: 0.02rem;
}
  
.footer-links .footer-left-link ul li a {
    color: #fff;
    text-decoration: none;
}
  
.footer-links .footer-right-link {
    width: 30%;
    margin-top: 5rem;
    /* border: 1px solid hotpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer-links .footer-right-link .applinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0 2rem;
}
  
.footer-links .footer-right-link .app-releated-text p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: 1.4287;
}
  
.footer hr {
    width: 92.4%;
    margin: 0 auto;
}
  
.footer-bottom-part {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
}
  
.footer-bottom-part .leftpart {
    display: flex;
    width: 20%;
    justify-content: space-between;
}
  
.footer-bottom-part .leftpart a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.07rem;
}
  
.footer-bottom-part .rightpart {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 2rem;
}
  
.footer-bottom-part .rightpart .b-right {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    padding-left: 1rem;
}
  
.footer-bottom-part .rightpart .b-icons {
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
}
  
.footer-bottom-part .rightpart .b-icons a {
    padding-left: 1rem;
    font-size: 1rem;
}
  
.blue-text {
    color: rgb(50, 156, 146);
    cursor: pointer;
}