* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 155px;
    background-color: black;
}

/* common */
.flex {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

/* content-section */
.computer-glasses-first-section {
    padding: 0 2vw;
}

/* main-section-content-header */
.first-section-up {
    font-size: 0.75rem;
    color: #999999;
    justify-content: space-between;
    padding: 20px 0px 15px;
    letter-spacing: 1px;

}

.first-section-up-list-links {
    list-style: none;
}

.first-section-up-list-links li {
    margin: 0 0.25rem;
}

.first-section-up-list-links span {
    color: black;
    font-size: 1rem;
}

.first-section-up a {
    color: #999999;
    text-decoration: none;
}

/* main-content-section-glass-content-section */

/* aside-bar */
.second-section-left {
    width: 16.5vw;
    height: calc(100vh + 145px);
    border: 2px solid blue;
    align-items: first baseline;
    overflow-y: scroll;
   
}
.second-section-left::-webkit-scrollbar{
    display: none;
}
.aside-section-none-slider-container{
    align-items: start;
    border: 2px solid darkmagenta;
    width: 100%;
    padding-top: 1rem;
}
.non-slider-item-heading{
    font-size: 0.813rem;
    color: #333333;
    text-align: left;
    margin-bottom: 0.8rem;
    width: 100%;
}
.non-slider-item{
    margin-bottom: 2rem;
}
.age-group-container{
    color: #2a2a2a;
    font-size: 0.75rem;
    opacity: 0.5;
    align-items: start;
}
.aside-check-box-container{
    display: flex;
    justify-content: start;
    border: 2px solid palevioletred;
    margin-bottom: 0.5rem;
    align-items: center;
}
.aside-check-box-container input{
    width: 1.219rem;
    height: 1.219rem;
    margin-right: 0.625rem;
}

    /* Optical cards section */
.second-section-right {
    width: 83.5vw;
    border: 2px solid red;
    height: calc(100vh + 145px);
}


.second-section-right-heading {
    padding: 0.375rem 0.625rem;
    width: 100%;
    justify-content: space-between;
    font-size: 0.75rem;
    background-color: #EDEDED;
}

.right-section-heading-item {
    display: inline-flex;

}

.right-section-heading-item .heading-green-para {
    color: #329c92;
    font-weight: 600;
}

.right-section-heading-item1 p {
    color: #6d6e71;
    font-size: 0.75rem;
    font-family: 400;
    letter-spacing: 2px;
    line-height: 1.875rem;
}

.opticals-small-container{
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    
}

.non-slider-opticals-small-container{
    border: 1px solid rgba(205, 205, 205, 0.6);
    margin: 0.25rem 0.25rem;
    /* flex-basis: 33%; */
    width: 4.25rem;
    height: 3.75rem;
}
.opticals-small-container-item{
    justify-content: center;
}
.opticals-small-container-item-image{
    display: inline-flex;
    justify-content: center;
}
.opticals-small-container-item-image img{
    width: 3.5rem;
    height: 1.75rem;
}

.opticals-small-container-item-tag-name{
    color: #2a2a2a;
    font-size: 0.75rem;
    opacity: 0.5;
    text-align: center;
}


/* aside-section-slider-container */
.aside-dropdown-heading-box{
    justify-content: space-between;
    width: 100%;
}
.aside-dropdown-content-box{
    color: #2a2a2a;
    font-size: 0.75rem;
    /* opacity: 0.5; */
    letter-spacing: 1.8px;
    align-items: start;
}







































































































































































/* --------------------------------------------- */
/* switch-button */
.switch {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #329c92;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #329c92;
}

input:focus+.slider {
    box-shadow: 0 0 1px #329c92;
}

input:checked+.slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(45px);
    transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------------------------ */
.right-section-heading-item2 {
    justify-content: space-between;
    line-height: 1.4;
    letter-spacing: 1.5px;
    font-synthesis: none;
}

.switch-button-container {
    margin: 0 1rem;
}

.right-section-heading-item3 select {
    margin-left: 0.4rem;
    border-radius: 0px;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    cursor: pointer;
    border: 1px solid gray;
    font-synthesis: none;
    font-size: 1em;
    line-height: 1.375rem;
}



.border-color{
    border: 2px solid red;
}